<template name="addformdata">

    <form class="addData">
        <div class="row">
            <div class="colformdata col-xs-12 col-md-3">
                <div class="formdata form-group">
                    <label for="nameitem">Nom :</label>
                    <input type="text" class="form-control" name="nameitem">
                </div>
            </div>

            <div class="colformdata col-xs-12 col-md-5">
                <div class="formdata form-group">
                    <label for="imgitem">Chemin de l'image :</label>
                    <input type="text" class="form-control" name="imgitem">
                </div>
            </div>

            <div class="colformdata col-xs-4 col-md-1">
                <div class="formdata form-group">
                    <label for="priceitem">Prix :</label>
                    <input type="text" class="form-control" name="priceitem">
                </div>
            </div>

            <div class="colformdata col-xs-8 col-md-3">
                <div class="formdata form-group">
                    <label for="catitem">Categorie :</label>
                    <input type="text" class="form-control" name="catitem">
                </div>
            </div>

            <div class="colformdata col-xs-12">
                <div class="formdata form-group">
                    <label for="describeitem">Description :</label>
                    <input type="text" class="form-control" name="describeitem">
                </div>
            </div>
        </div>

        <div class="formbtn form-group">
            <button type="submit" class="btn btn-success" id="addproductbtn">Ajouter</button>
        </div>
    </form>
    <button class="addreturn btn btn-danger">Annuler</button>

</template>