<template name="cat">
{{> header}}


    <div class="catrow row">
        <ul class="boxcat">
         {{#each listcat}}
         <li>
            <div class="box col-xs-12 col-md-2">
                <a href="/products/{{name}}">
                    <div class="boxmenu">
                        <p class="liencat">{{name}}</p>
                        <div class="boximgcat">
                        <img class="imgcat img-fluid" id="imgpizzaspec" src="/{{image}}"><br>
                        </div>
                    </div>
                </a>
            </div>
         </li>
         {{/each}}
        </ul>
    </div>
</template>