<template name="formcommande">

    <form class="validate">
        <div class="formadress">
            <div class="form-group">
                <label for="nom">Nom :</label>
                <input type="text" class="name form-control" name="username" required="required" placeholder="ex : dédé codeur...">
            </div>
            <div class="form-group">
                <label for="codepost">Code postal :</label>
                <input type="text" class="codepost form-control" name="codepost" required="required" placeholder="ex : 30100...">
            </div>
            <div class="form-group">
                <label for="adress">Adresse de livraison :</label>
                <input type="text" class="adress form-control" name="adress" required="required" placeholder="ex : chemin de coda...">
            </div>

            <button type="submit" class="btn btn-success center-block">Finaliser la commande</button>
        </div>
    </form>

</template>